<div class="container-fluid">
  <div class="form-group">
    <select class="form-control" [(ngModel)]="selectedData">
      <option *ngFor="let data of selectBoxDatas" [ngValue]="data">{{
        data.value
      }}</option>
    </select>

    <div class="form-group mt-5">
      <label>MEME 123</label>
      <select [(ngModel)]="method" class="form-control">
        <option value="moving">MOVING AVERAGE</option>
        <option value="auto">AUTOARIMA</option>
        <option value="sarimax">SARIMAX</option>

      </select>
    </div>

    <div style="margin-top: 24px;" class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Kara Train Data</label>
          <div>
            <p-calendar
              dateFormat="dd.mm.yy"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              [(ngModel)]="trainDataRange"
              name="calendar1"
              selectionMode="range"
              [readonlyInput]="true"
            ></p-calendar>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-center my-auto">
        <button type="button" class="btn btn-primary" (click)="getData()">GET DATA</button>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Months to be Forecasted</label>
          <div>
            <p-calendar
              dateFormat="dd.mm.yy"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              [(ngModel)]="testDataRange"
              name="calendar1"
              selectionMode="range"
              [readonlyInput]="true"
            ></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <chart [type]="type" [data]="data" [options]="options"></chart>
</div>
