<div class="text-center">
  <a
    class="btn btn-primary router-button"
    role="button"
    [routerLink]="['/summary']"
    routerLinkActive="router-link-active"
    >Summary</a
  >
  <a
    class="btn btn-primary router-button"
    role="button"
    [routerLink]="['/pivot-table']"
    routerLinkActive="router-link-active"
    >Pivot Table</a
  >
  <a
    class="btn btn-primary router-button"
    role="button"
    [routerLink]="['/forecast']"
    routerLinkActive="router-link-active"
    >Forecast</a
  >
</div>

<router-outlet></router-outlet>
